# [dbo].[AspNetRoles]

In [0]:
USE [FitMaxKey]
GO

In [0]:
SET IDENTITY_INSERT [dbo].[AspNetRoles] ON 
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (1, N'Admin', N'ADMIN', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (2, N'Personel', N'PERSONEL', NULL)
SET IDENTITY_INSERT [dbo].[AspNetRoles] OFF
GO

# [dbo].[AspNetUsers]

In [0]:
SET IDENTITY_INSERT [dbo].[AspNetUsers] ON 
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [Lastname], [CreateDate], [Height], [ImgUrl], [Description], [Facebook], [Twitter], [Instagram], [Youtube], [Weight], [Status], [Package], [UserType], [TrainerPrice], [IsDeleted], [DataConfirm], [PackageStartDate], [PackageEndDate], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (1, N'Ali', N'Uçar', CAST(N'2023-10-10T21:39:42.9446193' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, N'Üye', 0.0000, 0, 1, NULL, NULL, N'aliucar', N'ALIUCAR', N'ali@gmail.com', N'ALI@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAEFVamZYlSD4Oqs9zYENzz+wsjz1U7W4sPBRnfzy6/ORH30xb1EIBxZ/zM2LUdnYjqg==', N'MYJLT4WOHQ72V5YIN7FAUE46C5L2K6LT', N'0d513cf8-c186-456c-ab93-677b736c5f22', N'05419547879', 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [Lastname], [CreateDate], [Height], [ImgUrl], [Description], [Facebook], [Twitter], [Instagram], [Youtube], [Weight], [Status], [Package], [UserType], [TrainerPrice], [IsDeleted], [DataConfirm], [PackageStartDate], [PackageEndDate], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (2, N'Neşe', N'Sever', CAST(N'2023-10-10T21:43:22.4251380' AS DateTime2), NULL, N'/images/trainer-woman.jpg', N'Merhaba, ben Neşe. Kadın bir personal trainer olarak, sağlıklı yaşam tarzını benimsemek isteyenlere yardımcı oluyorum. Spor ve beslenme konularındaki tutkum sayesinde, bireysel hedeflerinize ulaşmanıza yardımcı olmak için buradayım. Kendi sağlık ve form hedeflerinizi gerçekleştirmenize yardımcı olmak için sabırsızlanıyorum. İletişime geçmekten çekinmeyin!', N'www.facebook.com', N'www.twitter.com', N'www.instagram.com', N'www.youtube.com', NULL, 1, NULL, N'Eğitmen', 500.0000, 0, 1, NULL, NULL, N'nesesever', N'NESESEVER', N'nese@gmail.com', N'NESE@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAEOvniY6OuUF/+2fjivon8G+9a2MzOBRO8R9WysplcUABKPUrLzi+jUs+MdDDzt8Dyg==', N'RLNVJALNQ3YEY5DZBA2AZ5ZX6SFKBNJW', N'e9b5f579-de43-4cfe-9996-0f27b5b8751d', N'05419876512', 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [Lastname], [CreateDate], [Height], [ImgUrl], [Description], [Facebook], [Twitter], [Instagram], [Youtube], [Weight], [Status], [Package], [UserType], [TrainerPrice], [IsDeleted], [DataConfirm], [PackageStartDate], [PackageEndDate], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (3, N'Veli', N'Kılıç', CAST(N'2023-10-10T21:43:46.3961933' AS DateTime2), NULL, N'\images\trainer-1.jpg', N'Merhaba, ben Veli Kılıç. Erkek personal trainer olarak, sağlığınızı ve formunuzu geliştirmeniz için buradayım. Kişisel hedeflerinize ulaşmanız için özelleştirilmiş antrenman programları ve beslenme tavsiyeleri sunuyorum. İhtiyaçlarınıza uygun çözümlerle birlikte daha sağlıklı bir yaşam tarzına adım atmak için hemen benimle iletişime geçin.', N'www.facebook.com', N'www.twitter.com', N'www.instagram.com', N'www.youtube.com', NULL, 1, NULL, N'Eğitmen', 400.0000, 0, 1, NULL, NULL, N'velikilic', N'VELIKILIC', N'veli@gmail.com', N'VELI@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAEMQ7+8IV6dFF7qA7OR54TmzyyZELACXKYMq7UvRxtqNWpC1CqM3zD+T92FVQb2YbJQ==', N'U57QDPP3OWYNPR26LEBEHQXUZYS66VGG', N'fdae6d46-ea1b-471b-a417-bdb0aa8c9389', N'05419547874', 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [Lastname], [CreateDate], [Height], [ImgUrl], [Description], [Facebook], [Twitter], [Instagram], [Youtube], [Weight], [Status], [Package], [UserType], [TrainerPrice], [IsDeleted], [DataConfirm], [PackageStartDate], [PackageEndDate], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (4, N'Oya', N'Yücel', CAST(N'2023-10-10T21:44:53.0933940' AS DateTime2), NULL, N'/images/trainer-2.jpg', N'Merhaba, ben Oya. Kadın bir personal trainer olarak, spora ve sağlıklı yaşam tarzına olan tutkumla müşterilerimin daha sağlıklı, daha güçlü ve daha mutlu bir yaşam sürmelerine yardımcı oluyorum. Her bir müşterimi bireysel hedeflerine ulaşmaları için motive etmeyi ve kişiselleştirilmiş antrenman ve beslenme programları geliştirmeyi amaçlıyorum. Sağlıklı yaşam, benim için sadece bir iş değil, aynı zamanda bir yaşam tarzıdır. Sizin de sağlığınıza ve formunuza odaklanmanıza yardımcı olmak için buradayım. Başlamak için benimle iletişime geçmekten çekinmeyin!', N'www.facebook.com', N'www.twitter.com', N'www.instagram.com', N'www.youtube.com', NULL, 1, NULL, N'Eğitmen', 600.0000, 0, 1, NULL, NULL, N'oyayucel', N'OYAYUCEL', N'oya@gmail.com', N'OYA@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAEK1Cb9VrbyW+Vp5nw7Y3MvawGE2k1bZgwP/n9Xw7ZAGqZ4NmJQ6fzx0fx7hb2iWXDA==', N'KF57YHQEEUFMPPTZGHY2Z2PH5TVKQZDB', N'3963d42e-95c8-422d-bb05-251389a2512d', N'05417896352', 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [Lastname], [CreateDate], [Height], [ImgUrl], [Description], [Facebook], [Twitter], [Instagram], [Youtube], [Weight], [Status], [Package], [UserType], [TrainerPrice], [IsDeleted], [DataConfirm], [PackageStartDate], [PackageEndDate], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (5, N'Ayşe', N'Yüksel', CAST(N'2023-10-10T21:45:32.2335892' AS DateTime2), NULL, N'/images/single-1.jpg', N'Merhaba, ben Ayşe Yüksel. Kadın bir personal trainer olarak, sağlıklı yaşamı ve güçlenmeyi hedefleyenlere rehberlik ediyorum. Spor ve beslenme konularındaki tutkum, her müşterimin kişisel hedeflerine ulaşmasına yardımcı olmamı sağlıyor. Sizi daha sağlıklı, daha güçlü ve daha mutlu bir sürüme dönüştürmek için buradayım. Daha fazla bilgi için benimle iletişime geçmekten çekinmeyin!', N'www.facebook.com', N'www.twitter.com', N'www.instagram.com', N'www.youtube.com', NULL, 1, NULL, N'Eğitmen', 500.0000, 0, 1, NULL, NULL, N'ayseyuksel', N'AYSEYUKSEL', N'ayse@gmail.com', N'AYSE@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAEP3TVxew2BVzkgFGqiWCCqpNCOQDYQAnPGT0DIQdlPm/lzH+RRfGPv/U3vvkB/U4uw==', N'DXHCSX3W3MQM4HFBDYPGEN5Z2GUGGHPJ', N'4f30f0fc-8562-4ffd-996d-371805a972a0', N'05417896355', 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [Lastname], [CreateDate], [Height], [ImgUrl], [Description], [Facebook], [Twitter], [Instagram], [Youtube], [Weight], [Status], [Package], [UserType], [TrainerPrice], [IsDeleted], [DataConfirm], [PackageStartDate], [PackageEndDate], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (6, N'İbrahim', N'Yılmaz', CAST(N'2023-10-10T21:46:27.6502266' AS DateTime2), NULL, N'/images/single-2.jpg', N'Merhaba, ben İbrahim Yılmaz. Erkek bir personal trainer olarak, sağlığınızı ve formunuzu iyileştirmenize yardımcı olmak için buradayım. Bireysel hedeflerinize ulaşmanız için kişiselleştirilmiş antrenman programları ve beslenme danışmanlığı sunuyorum. Sizinle birlikte daha sağlıklı ve güçlü bir yaşam tarzı oluşturmak için buradayım. İletişime geçmek için lütfen benimle irtibata geçin.', N'www.facebook.com', N'www.twitter.com', N'www.instagram.com', N'www.youtube.com', NULL, 1, NULL, N'Eğitmen', 450.0000, 0, 1, NULL, NULL, N'ibrahimyilmaz', N'IBRAHIMYILMAZ', N'ibrahim@gmail.com', N'IBRAHIM@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAEDOFt1F5zP6o849hD0luF9f3RDigVaPhuQbFBsaz5Cuir5ViI5wemsdQ/l5lKYI63w==', N'QT7NFVJCB7LMXUBMSUWZU2POCN6S7I33', N'c62add16-a110-4418-9437-38295e2069b0', N'05637895713', 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [Lastname], [CreateDate], [Height], [ImgUrl], [Description], [Facebook], [Twitter], [Instagram], [Youtube], [Weight], [Status], [Package], [UserType], [TrainerPrice], [IsDeleted], [DataConfirm], [PackageStartDate], [PackageEndDate], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (7, N'Kemal', N'Deniz', CAST(N'2023-10-10T21:47:14.0504898' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, N'Üye', 0.0000, 0, 1, NULL, NULL, N'kemaldeniz', N'KEMALDENIZ', N'kemaldeniz@gmail.com', N'KEMALDENIZ@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAEFHlFbOdqRjJ511MmaKNN9lCeC9HI8eWtST1YI/NnFM9NmaDWO0tsW0p1zgiDyRD0g==', N'GARG74LCN6BSKRA65CQNIFIPUJDCPXZ3', N'8a6c1cb7-e9ab-45f0-824a-bec22ab1b626', N'06547893541', 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [FirstName], [Lastname], [CreateDate], [Height], [ImgUrl], [Description], [Facebook], [Twitter], [Instagram], [Youtube], [Weight], [Status], [Package], [UserType], [TrainerPrice], [IsDeleted], [DataConfirm], [PackageStartDate], [PackageEndDate], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (8, N'Ahmet', N'Rüzgar', CAST(N'2023-10-10T21:53:26.6750758' AS DateTime2), N'180', NULL, NULL, NULL, NULL, NULL, NULL, N'80', 1, N'2', N'Üye', 0.0000, 0, 1, CAST(N'2023-10-11T18:39:52.4521923' AS DateTime2), CAST(N'2024-04-11T18:39:52.4523999' AS DateTime2), N'ahmetruzgar', N'AHMETRUZGAR', N'ahmet@gmail.com', N'AHMET@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAEO2hPb5+TZprHaUESOYFIVnTgzADE6WcO5PkL4ccBkG3vALiZrQkjUpS3CQX962nww==', N'A6SJ3R7JC3IOXGEW24IWTSOSCKE5AJZZ', N'873663f2-d494-42b9-9f03-0a2769c1f6ea', N'05479874524', 0, 0, NULL, 1, 0)
SET IDENTITY_INSERT [dbo].[AspNetUsers] OFF
GO

# [dbo].[AspNetUserRoles]

In [0]:
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (1, 1)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (2, 2)
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (7, 2)
GO

# [dbo].[Carts]

In [0]:
SET IDENTITY_INSERT [dbo].[Carts] ON 
INSERT [dbo].[Carts] ([Id], [UserId], [OrderDate], [DeliveryDate], [TotalPrice], [Status]) VALUES (1, 8, CAST(N'2023-10-11T18:44:27.6676974' AS DateTime2), NULL, 312.0000, 0)
INSERT [dbo].[Carts] ([Id], [UserId], [OrderDate], [DeliveryDate], [TotalPrice], [Status]) VALUES (2, 8, CAST(N'2023-10-11T18:44:53.1146732' AS DateTime2), NULL, 2416.0000, 0)
INSERT [dbo].[Carts] ([Id], [UserId], [OrderDate], [DeliveryDate], [TotalPrice], [Status]) VALUES (3, 8, CAST(N'2023-10-11T18:45:06.0685295' AS DateTime2), CAST(N'2023-10-11T18:46:21.6074661' AS DateTime2), 1476.0000, 1)
SET IDENTITY_INSERT [dbo].[Carts] OFF
GO

# [dbo].[Products]

In [0]:
SET IDENTITY_INSERT [dbo].[Products] ON 
INSERT [dbo].[Products] ([Id], [Name], [ProductType], [Description], [Purchaseprice], [Price], [Status], [Stock], [ImgUrl]) VALUES (1, N'Musclecloth Lifting Strap Kırmızı', N'spor', N'Musclecloth Lifting Strap Kırmızı', 60.0000, 95.0000, 1, 49, N'/images/Musclecloth.jpeg')
INSERT [dbo].[Products] ([Id], [Name], [ProductType], [Description], [Purchaseprice], [Price], [Status], [Stock], [ImgUrl]) VALUES (2, N'Musclecloth Pro Wrist Wraps', N'spor', N'Musclecloth Pro Wrist Wraps Siyah Kırmızı 2''li Paket', 70.0000, 150.0000, 1, 24, N'/images/Wrist.jpeg')
INSERT [dbo].[Products] ([Id], [Name], [ProductType], [Description], [Purchaseprice], [Price], [Status], [Stock], [ImgUrl]) VALUES (3, N'Busso Klips-20 Kısa Bar Kelebek Klips', N'spor', N'Busso Klips-20 Kısa Bar Kelebek Klips', 30.0000, 67.0000, 1, 44, N'/images/kelebek.jpeg')
INSERT [dbo].[Products] ([Id], [Name], [ProductType], [Description], [Purchaseprice], [Price], [Status], [Stock], [ImgUrl]) VALUES (4, N'Delta Bat Grip Pad (El Pedi) Ağırlık Body ', N'spor', N'Delta Bat Grip Pad (El Pedi) Ağırlık Body Fitness Dambıl Eldiveni', 90.0000, 145.0000, 1, 55, N'/images/10.jpeg')
INSERT [dbo].[Products] ([Id], [Name], [ProductType], [Description], [Purchaseprice], [Price], [Status], [Stock], [ImgUrl]) VALUES (5, N'Dragon Fat Gripz Silikon Dambıl Halter Sapları', N'spor', N'Dragon Fat Gripz Silikon Dambıl Halter Sapları Kaymaz Koruma Pedi', 130.0000, 160.0000, 1, 12, N'/images/11.jpeg')
INSERT [dbo].[Products] ([Id], [Name], [ProductType], [Description], [Purchaseprice], [Price], [Status], [Stock], [ImgUrl]) VALUES (6, N'Proforce Db-Zen Ayarlanabilir Dambıl', N'spor', N'MProforce Db-Zen Ayarlanabilir Dambıl - 24 kg', 2700.0000, 3600.0000, 1, 16, N'/images/123.jpeg')
INSERT [dbo].[Products] ([Id], [Name], [ProductType], [Description], [Purchaseprice], [Price], [Status], [Stock], [ImgUrl]) VALUES (7, N'Hardline Whey 3 Matrix Protein Tozu 2300 gr', N'besin', N'Hardline Whey 3 Matrix Protein Tozu 2300 gr', 1000.0000, 166.0000, 1, 22, N'/images/p1.jpeg')
INSERT [dbo].[Products] ([Id], [Name], [ProductType], [Description], [Purchaseprice], [Price], [Status], [Stock], [ImgUrl]) VALUES (8, N'Navy Plus Nutrition 2300 gr Whey Protein Tozu ', N'besin', N'Navy Plus Nutrition 2300 gr Whey Protein Tozu Çilek Aromalı + Shaker + Askılı Çanta + Antrenman Havlusu + 2 x Protein Bar', 1200.0000, 1645.0000, 1, 50, N'/images/p2.jpeg')
INSERT [dbo].[Products] ([Id], [Name], [ProductType], [Description], [Purchaseprice], [Price], [Status], [Stock], [ImgUrl]) VALUES (9, N'High Whey Protein 2280 gr Çikolata Aromalı ', N'besin', N'High Whey Protein 2280 gr Çikolata Aromalı Protein Tozu 24 Gram Protein 76 Servis', 201.0000, 452.0000, 1, 46, N'/images/p4.jpeg')
INSERT [dbo].[Products] ([Id], [Name], [ProductType], [Description], [Purchaseprice], [Price], [Status], [Stock], [ImgUrl]) VALUES (10, N'Ronic Nutrition Ultimate Isolate Whey Protein Tozu ', N'besin', N'Ronic Nutrition Ultimate Isolate Whey Protein Tozu 2270 gr + Shaker ve 2 Adet Tek Kullanımlık Whey Protein', 650.0000, 980.0000, 1, 19, N'/images/p5.jpeg')
INSERT [dbo].[Products] ([Id], [Name], [ProductType], [Description], [Purchaseprice], [Price], [Status], [Stock], [ImgUrl]) VALUES (11, N'Nutripure Whey Classic Protein Tozu 2000 gr', N'besin', N'Nutripure Whey Classic Protein Tozu 2000 gr - Çikolata Aromalı', 252.0000, 682.0000, 1, 24, N'/images/p6.jpeg')
INSERT [dbo].[Products] ([Id], [Name], [ProductType], [Description], [Purchaseprice], [Price], [Status], [Stock], [ImgUrl]) VALUES (12, N'High Whey Protein Tozu 2280 gr Çilek Aromalı ', N'besin', N'High Whey Protein Tozu 2280 gr Çilek Aromalı Protein Tozu 24 Gram Protein Kas Güç 76 Servis Shaker Hediyeli', 230.0000, 470.0000, 1, 44, N'/images/p9.jpeg')
INSERT [dbo].[Products] ([Id], [Name], [ProductType], [Description], [Purchaseprice], [Price], [Status], [Stock], [ImgUrl]) VALUES (13, N'Pharma Whey Protein 2196 gr Çikolata Aromalı', N'besin', N'Pharma Whey Protein 2196 gr Çikolata Aromalı Whey Protein Tozu 24 gr Protein 5 gr Bcaa', 460.0000, 690.0000, 1, 23, N'/images/p12.jpeg')
INSERT [dbo].[Products] ([Id], [Name], [ProductType], [Description], [Purchaseprice], [Price], [Status], [Stock], [ImgUrl]) VALUES (14, N'Bigjoy BIGWHEY Whey Protein Classic Çikolata', N'besin', N'Bigjoy Sports BIGWHEY Whey Protein Classic Çikolata 1020g 30 Servis', 360.0000, 786.0000, 1, 13, N'/images/p13.jpeg')
INSERT [dbo].[Products] ([Id], [Name], [ProductType], [Description], [Purchaseprice], [Price], [Status], [Stock], [ImgUrl]) VALUES (15, N'Scucs Koordinasyon Çemberi 12''li', N'spor', N'Scucs Koordinasyon Çemberi 12''li', 100.0000, 198.0000, 1, 49, N'/images/14.jpeg')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO

# [dbo].[CartLines]

In [0]:
SET IDENTITY_INSERT [dbo].[CartLines] ON 
INSERT [dbo].[CartLines] ([Id], [Quantity], [UnitPrice], [DeliveryDate], [OrderDate], [Status], [TotalPrice], [CartId], [ProductId]) VALUES (1, 1, 95.0000, NULL, CAST(N'2023-10-11T18:44:27.7669590' AS DateTime2), 0, 95.0000, 1, 1)
INSERT [dbo].[CartLines] ([Id], [Quantity], [UnitPrice], [DeliveryDate], [OrderDate], [Status], [TotalPrice], [CartId], [ProductId]) VALUES (2, 1, 150.0000, NULL, CAST(N'2023-10-11T18:44:27.7669629' AS DateTime2), 0, 150.0000, 1, 2)
INSERT [dbo].[CartLines] ([Id], [Quantity], [UnitPrice], [DeliveryDate], [OrderDate], [Status], [TotalPrice], [CartId], [ProductId]) VALUES (3, 1, 67.0000, NULL, CAST(N'2023-10-11T18:44:27.7669630' AS DateTime2), 0, 67.0000, 1, 3)
INSERT [dbo].[CartLines] ([Id], [Quantity], [UnitPrice], [DeliveryDate], [OrderDate], [Status], [TotalPrice], [CartId], [ProductId]) VALUES (4, 1, 452.0000, NULL, CAST(N'2023-10-11T18:44:53.1317128' AS DateTime2), 0, 452.0000, 2, 9)
INSERT [dbo].[CartLines] ([Id], [Quantity], [UnitPrice], [DeliveryDate], [OrderDate], [Status], [TotalPrice], [CartId], [ProductId]) VALUES (5, 1, 980.0000, NULL, CAST(N'2023-10-11T18:44:53.1317173' AS DateTime2), 0, 980.0000, 2, 10)
INSERT [dbo].[CartLines] ([Id], [Quantity], [UnitPrice], [DeliveryDate], [OrderDate], [Status], [TotalPrice], [CartId], [ProductId]) VALUES (6, 1, 198.0000, NULL, CAST(N'2023-10-11T18:44:53.1317176' AS DateTime2), 0, 198.0000, 2, 15)
INSERT [dbo].[CartLines] ([Id], [Quantity], [UnitPrice], [DeliveryDate], [OrderDate], [Status], [TotalPrice], [CartId], [ProductId]) VALUES (7, 1, 786.0000, NULL, CAST(N'2023-10-11T18:44:53.1317177' AS DateTime2), 0, 786.0000, 2, 14)
INSERT [dbo].[CartLines] ([Id], [Quantity], [UnitPrice], [DeliveryDate], [OrderDate], [Status], [TotalPrice], [CartId], [ProductId]) VALUES (8, 1, 690.0000, CAST(N'2023-10-11T18:46:20.6015361' AS DateTime2), CAST(N'2023-10-11T18:45:06.0741885' AS DateTime2), 1, 690.0000, 3, 13)
INSERT [dbo].[CartLines] ([Id], [Quantity], [UnitPrice], [DeliveryDate], [OrderDate], [Status], [TotalPrice], [CartId], [ProductId]) VALUES (9, 1, 786.0000, CAST(N'2023-10-11T18:46:21.5779270' AS DateTime2), CAST(N'2023-10-11T18:45:06.0741901' AS DateTime2), 1, 786.0000, 3, 14)
SET IDENTITY_INSERT [dbo].[CartLines] OFF
GO

# [dbo].[Wallet]

In [0]:
SET IDENTITY_INSERT [dbo].[Wallet] ON 
INSERT [dbo].[Wallet] ([Id], [UserId], [CreateDate], [Balance]) VALUES (1, 1, CAST(N'2023-10-10T21:39:43.2306449' AS DateTime2), 0.0000)
INSERT [dbo].[Wallet] ([Id], [UserId], [CreateDate], [Balance]) VALUES (2, 2, CAST(N'2023-10-10T21:43:22.7118831' AS DateTime2), 0.0000)
INSERT [dbo].[Wallet] ([Id], [UserId], [CreateDate], [Balance]) VALUES (3, 3, CAST(N'2023-10-10T21:43:46.4613130' AS DateTime2), 0.0000)
INSERT [dbo].[Wallet] ([Id], [UserId], [CreateDate], [Balance]) VALUES (4, 4, CAST(N'2023-10-10T21:44:53.1492000' AS DateTime2), 0.0000)
INSERT [dbo].[Wallet] ([Id], [UserId], [CreateDate], [Balance]) VALUES (5, 5, CAST(N'2023-10-10T21:45:32.2894320' AS DateTime2), 0.0000)
INSERT [dbo].[Wallet] ([Id], [UserId], [CreateDate], [Balance]) VALUES (6, 6, CAST(N'2023-10-10T21:46:27.7069037' AS DateTime2), 0.0000)
INSERT [dbo].[Wallet] ([Id], [UserId], [CreateDate], [Balance]) VALUES (7, 7, CAST(N'2023-10-10T21:47:14.1072308' AS DateTime2), 0.0000)
INSERT [dbo].[Wallet] ([Id], [UserId], [CreateDate], [Balance]) VALUES (8, 8, CAST(N'2023-10-10T21:53:26.7300956' AS DateTime2), 993799.0000)
SET IDENTITY_INSERT [dbo].[Wallet] OFF
GO

# [dbo].[WalletDetails]

In [0]:
SET IDENTITY_INSERT [dbo].[WalletDetails] ON 
INSERT [dbo].[WalletDetails] ([Id], [ActivityDate], [ActivityType], [Amount], [WalletId]) VALUES (1, CAST(N'2023-10-11T18:39:39.2301368' AS DateTime2), N'Yatırma', 999999.0000, 8)
INSERT [dbo].[WalletDetails] ([Id], [ActivityDate], [ActivityType], [Amount], [WalletId]) VALUES (2, CAST(N'2023-10-11T18:39:52.4762206' AS DateTime2), N'Harcama', 6200.0000, 8)
SET IDENTITY_INSERT [dbo].[WalletDetails] OFF
GO

# [dbo].[__EFMigrationsHistory]

In [0]:
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20231010183849_initial', N'7.0.10')
GO

# [dbo].[Contacts]

In [0]:
SET IDENTITY_INSERT [dbo].[Contacts] ON 
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Content], [Date], [IsReaded]) VALUES (1, N'Erkan Hoyman', N'erkanhoyman@gmail.com', N'Çok güzel proje tebrik ederim.', CAST(N'2023-10-11T18:48:39.9384261' AS DateTime2), 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Content], [Date], [IsReaded]) VALUES (2, N'Ali', N'ali@gmail.com', N'Çok güzel hizmet, teşkkürler.', CAST(N'2023-10-11T18:49:11.7665675' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO

# [dbo].[Packages]

In [0]:
SET IDENTITY_INSERT [dbo].[Packages] ON 
INSERT [dbo].[Packages] ([Id], [Name], [Description], [Description2], [Description3], [Price]) VALUES (1, N'3 Ay', N'3 Aylık Salon Üyeliği', N'Standart Program Desteği', N'Grup Derslerine Katılma Hakkı', 3050.0000)
INSERT [dbo].[Packages] ([Id], [Name], [Description], [Description2], [Description3], [Price]) VALUES (2, N'6 Ay', N'6 Aylık Salon Üyeliği', N'Aktif Program Desteği', N'Grup Derslerine Katılma Hakkı', 6200.0000)
INSERT [dbo].[Packages] ([Id], [Name], [Description], [Description2], [Description3], [Price]) VALUES (3, N'12 Ay', N'12 Aylık Salon Üyeliği', N'Tam Program Desteği', N'Grup Derslerine Katılma Hakkı', 10100.0000)
SET IDENTITY_INSERT [dbo].[Packages] OFF
GO

# [dbo].[PrivateLessons]

In [0]:
SET IDENTITY_INSERT [dbo].[PrivateLessons] ON 
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (1, 500.0000, 2, N'Neşe Sever', CAST(N'2023-10-11T21:56:08.7719513' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (2, 500.0000, 2, N'Neşe Sever', CAST(N'2023-10-12T21:56:08.7804516' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (3, 500.0000, 2, N'Neşe Sever', CAST(N'2023-10-13T21:56:08.7805151' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (4, 500.0000, 2, N'Neşe Sever', CAST(N'2023-10-14T21:56:08.7805249' AS DateTime2), 1, N'cancel', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (5, 500.0000, 2, N'Neşe Sever', CAST(N'2023-10-15T21:56:08.7805327' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (6, 500.0000, 2, N'Neşe Sever', CAST(N'2023-10-16T21:56:08.7805394' AS DateTime2), 1, N'cancel', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (7, 500.0000, 2, N'Neşe Sever', CAST(N'2023-10-17T21:56:08.7805498' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (8, 500.0000, 2, N'Neşe Sever', CAST(N'2023-10-18T21:56:08.7805588' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (9, 500.0000, 2, N'Neşe Sever', CAST(N'2023-10-19T21:56:08.7805661' AS DateTime2), 1, N'cancel', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (10, 500.0000, 2, N'Neşe Sever', CAST(N'2023-10-20T21:56:08.7805725' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (11, 500.0000, 2, N'Neşe Sever', CAST(N'2023-10-21T21:56:08.7805884' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (12, 500.0000, 2, N'Neşe Sever', CAST(N'2023-10-22T21:56:08.7805949' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (13, 500.0000, 2, N'Neşe Sever', CAST(N'2023-10-23T21:56:08.7806010' AS DateTime2), 1, N'cancel', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (14, 500.0000, 2, N'Neşe Sever', CAST(N'2023-10-24T21:56:08.7806071' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (15, 400.0000, 3, N'Veli Kılıç', CAST(N'2023-10-11T21:56:08.7877218' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (16, 400.0000, 3, N'Veli Kılıç', CAST(N'2023-10-12T21:56:08.7877919' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (17, 400.0000, 3, N'Veli Kılıç', CAST(N'2023-10-13T21:56:08.7878085' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (18, 400.0000, 3, N'Veli Kılıç', CAST(N'2023-10-14T21:56:08.7878262' AS DateTime2), 1, N'8', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (19, 400.0000, 3, N'Veli Kılıç', CAST(N'2023-10-15T21:56:08.7878499' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (20, 400.0000, 3, N'Veli Kılıç', CAST(N'2023-10-16T21:56:08.7878608' AS DateTime2), 1, N'cancel', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (21, 400.0000, 3, N'Veli Kılıç', CAST(N'2023-10-17T21:56:08.7878676' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (22, 400.0000, 3, N'Veli Kılıç', CAST(N'2023-10-18T21:56:08.7878752' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (23, 400.0000, 3, N'Veli Kılıç', CAST(N'2023-10-19T21:56:08.7878816' AS DateTime2), 1, N'cancel', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (24, 400.0000, 3, N'Veli Kılıç', CAST(N'2023-10-20T21:56:08.7878939' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (25, 400.0000, 3, N'Veli Kılıç', CAST(N'2023-10-21T21:56:08.7879307' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (26, 400.0000, 3, N'Veli Kılıç', CAST(N'2023-10-22T21:56:08.7879380' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (27, 400.0000, 3, N'Veli Kılıç', CAST(N'2023-10-23T21:56:08.7879446' AS DateTime2), 1, N'cancel', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (28, 400.0000, 3, N'Veli Kılıç', CAST(N'2023-10-24T21:56:08.7879555' AS DateTime2), 1, N'cancel', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (29, 600.0000, 4, N'Oya Sever', CAST(N'2023-10-11T21:56:08.7907400' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (30, 600.0000, 4, N'Oya Sever', CAST(N'2023-10-12T21:56:08.7908087' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (31, 600.0000, 4, N'Oya Sever', CAST(N'2023-10-13T21:56:08.7908181' AS DateTime2), 1, N'cancel', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (32, 600.0000, 4, N'Oya Sever', CAST(N'2023-10-14T21:56:08.7908302' AS DateTime2), 1, N'8', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (33, 600.0000, 4, N'Oya Sever', CAST(N'2023-10-15T21:56:08.7908382' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (34, 600.0000, 4, N'Oya Sever', CAST(N'2023-10-16T21:56:08.7908448' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (35, 600.0000, 4, N'Oya Sever', CAST(N'2023-10-17T21:56:08.7908509' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (36, 600.0000, 4, N'Oya Sever', CAST(N'2023-10-18T21:56:08.7908602' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (37, 600.0000, 4, N'Oya Sever', CAST(N'2023-10-19T21:56:08.7908668' AS DateTime2), 1, N'cancel', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (38, 600.0000, 4, N'Oya Sever', CAST(N'2023-10-20T21:56:08.7908733' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (39, 600.0000, 4, N'Oya Sever', CAST(N'2023-10-21T21:56:08.7908836' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (40, 600.0000, 4, N'Oya Sever', CAST(N'2023-10-22T21:56:08.7908904' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (41, 600.0000, 4, N'Oya Sever', CAST(N'2023-10-23T21:56:08.7908968' AS DateTime2), 1, N'cancel', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (42, 600.0000, 4, N'Oya Sever', CAST(N'2023-10-24T21:56:08.7909055' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (43, 500.0000, 5, N'Ayşe Sevmez', CAST(N'2023-10-11T21:56:08.7939956' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (44, 500.0000, 5, N'Ayşe Sevmez', CAST(N'2023-10-12T21:56:08.7940330' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (45, 500.0000, 5, N'Ayşe Sevmez', CAST(N'2023-10-13T21:56:08.7940409' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (46, 500.0000, 5, N'Ayşe Sevmez', CAST(N'2023-10-14T21:56:08.7940512' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (47, 500.0000, 5, N'Ayşe Sevmez', CAST(N'2023-10-15T21:56:08.7940579' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (48, 500.0000, 5, N'Ayşe Sevmez', CAST(N'2023-10-16T21:56:08.7940639' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (49, 500.0000, 5, N'Ayşe Sevmez', CAST(N'2023-10-17T21:56:08.7940698' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (50, 500.0000, 5, N'Ayşe Sevmez', CAST(N'2023-10-18T21:56:08.7940780' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (51, 500.0000, 5, N'Ayşe Sevmez', CAST(N'2023-10-19T21:56:08.7940841' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (52, 500.0000, 5, N'Ayşe Sevmez', CAST(N'2023-10-20T21:56:08.7940933' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (53, 500.0000, 5, N'Ayşe Sevmez', CAST(N'2023-10-21T21:56:08.7940995' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (54, 500.0000, 5, N'Ayşe Sevmez', CAST(N'2023-10-22T21:56:08.7941077' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (55, 500.0000, 5, N'Ayşe Sevmez', CAST(N'2023-10-23T21:56:08.7941142' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (56, 500.0000, 5, N'Ayşe Sevmez', CAST(N'2023-10-24T21:56:08.7941201' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (57, 450.0000, 6, N'İbrahim Yılmaz', CAST(N'2023-10-11T21:56:08.7967751' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (58, 450.0000, 6, N'İbrahim Yılmaz', CAST(N'2023-10-12T21:56:08.7968159' AS DateTime2), 1, N'cancel', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (59, 450.0000, 6, N'İbrahim Yılmaz', CAST(N'2023-10-13T21:56:08.7968324' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (60, 450.0000, 6, N'İbrahim Yılmaz', CAST(N'2023-10-14T21:56:08.7968409' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (61, 450.0000, 6, N'İbrahim Yılmaz', CAST(N'2023-10-15T21:56:08.7968484' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (62, 450.0000, 6, N'İbrahim Yılmaz', CAST(N'2023-10-16T21:56:08.7968556' AS DateTime2), 1, N'cancel', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (63, 450.0000, 6, N'İbrahim Yılmaz', CAST(N'2023-10-17T21:56:08.7968664' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (64, 450.0000, 6, N'İbrahim Yılmaz', CAST(N'2023-10-18T21:56:08.7968742' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (65, 450.0000, 6, N'İbrahim Yılmaz', CAST(N'2023-10-19T21:56:08.7968944' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (66, 450.0000, 6, N'İbrahim Yılmaz', CAST(N'2023-10-20T21:56:08.7969675' AS DateTime2), 1, N'cancel', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (67, 450.0000, 6, N'İbrahim Yılmaz', CAST(N'2023-10-21T21:56:08.7969790' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (68, 450.0000, 6, N'İbrahim Yılmaz', CAST(N'2023-10-22T21:56:08.7969868' AS DateTime2), 1, N'cancel', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (69, 450.0000, 6, N'İbrahim Yılmaz', CAST(N'2023-10-23T21:56:08.7969942' AS DateTime2), 1, N'empty', NULL)
INSERT [dbo].[PrivateLessons] ([Id], [TrainerPrice], [TrainerId], [TrainerName], [Date], [Status], [Lesson], [Description]) VALUES (70, 450.0000, 6, N'İbrahim Yılmaz', CAST(N'2023-10-24T21:56:08.7970016' AS DateTime2), 1, N'empty', NULL)
SET IDENTITY_INSERT [dbo].[PrivateLessons] OFF
GO